* {
  font-family: Tahoma, Verdana, sans-serif;
}

div.object {
  background-color: white;
  border: 1px dashed black;
  min-width: 600px;
  color: black;
  padding: 5px;
  margin-top: 5px;
}

div.object h1 {
  font-size: 120%;
  color: blue;
  margin: 2px;
}

div.object h3 {
  font-size: 100%;
  color: blue;
  margin: 2px;
}

div.object h2,
div.object h4 {
  font-size: 100%;
  font-weight: normal;
  color: black;
  margin: 2px;
}

div.object a {
}
