* {
  font-family: Tahoma, Verdana, sans-serif;
}

div.object {
  background-color: white;
  border: 1px dashed black;
  min-width: 600px;
  color: black;
  padding: 5px;
  margin-top: 5px;
}

div.object h1 {
  font-size: 120%;
  color: green;
  margin: 2px;
}

div.object h3 {
  font-size: 100%;
  color: green;
  margin: 2px;
  margin-top: 1em;
}

div.object h2,
div.object h4 {
  font-size: 100%;
  font-weight: normal;
  color: black;
  margin: 2px;
}

div.object .truncated {
  color: red;
  border: 1px solid red;
  padding: 1px;
  margin: 2px;
}

