* {
  font-family: Tahoma, Verdana, sans-serif;
}

input {
  border: 1px dashed orange;
  background-color: white;
}

div.object {
  background-color: white;
  border: 1px solid black;
  min-width: 600px;
  color: black;
  padding: 5px;
  margin-top: 5px;
}

div.object .heading {
  background-color: orange;
  padding: 5px;
}

div.object h1 {
  font-size: 16px;
  color: blue;
  margin: 2px;
}

div.object h2 {
  font-size: 14px;
  color: black;
  margin: 2px;
  font-weight: normal;
}

div.object h3 {
  font-size: 14px;
  color: orange;
  margin: 2px;
  margin-top: 1em;
}

div.object h4 {
  font-size: 12px;
  font-weight: normal;
  color: black;
  margin: 2px;
}

div.object .truncated {
  color: red;
  border: 1px solid red;
  padding: 1px;
  margin: 2px;
}

span.tidInfo {
	color: white;
}

span.diff {
	margin-left: 4em;
}

div.object {
  font-size: 12px;
  font-weight: normal;
  color: black;
  padding: 2px;
}

div.history {
  margin: 2px;
}

div.current {
  background: #ffa;
  border: 1px solid;
  border-top-color: #ffc;
  border-left-color: #ffc;
  border-bottom-color: #fe0;
  border-right-color: #fe0;
}