[run]
source = zodbbrowser
omit = */tests/*,*/ftests/*
cover_pylib = False
# branch = True
plugins =
    coverage_python_version

[report]
exclude_lines =
    pragma: nocover
    except ImportError:
    except NameError:
    if __name__ == '__main__':
