include *.cfg
exclude .installed.cfg
include bootstrap.py
include Makefile
include *.rst
include *.txt
include tox.ini
include *.yml
include .coveragerc
include .gitignore
include LICENSE
recursive-include src *.zcml *.pt *.js *.css *.png *.txt

# added by check_manifest.py
include *.mk
