# Note: you must use Python 2.4 or 2.5 with this config, since the Zope 3.4
# Known Good Set doesn't support Python 2.6 or later
[buildout]
extends =
    buildout.cfg
    http://download.zope.org/zope3.4/3.4.1/versions.cfg
versions = versions

[versions]
# use latest, since the version of mechanize pinned in the KGS leaves garbage
# socket objects and clutters test output
mechanize =
# use latest, just for kicls
lxml =
zc.recipe.testrunner =
zope.testing =
zope.testbrowser =
zc.buildout =
# zc.recipe.testrunner 1.3.0 needs zc.recipe.egg of at least 1.3.0; KGS has 1.2.0
zc.recipe.egg =
