# NB: this name is used in the status badge
name: build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
  schedule:
    - cron: "0 5 * * 6"  # 5:00 UTC every Saturday

jobs:
  build:
    name: Python ${{ matrix.python-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "pypy3.10"
        os:
          - ubuntu-latest
          - windows-latest

    steps:
      - name: Git clone
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: "${{ matrix.python-version }}"
          cache: pip
          cache-dependency-path: |
            setup.py
            tox.ini

      - name: Install Python dependencies
        run: |
          python -m pip install -U pip
          python -m pip install -U setuptools wheel
          python -m pip install -U zope.testrunner coverage coveralls
          python -m pip install -e '.[test]'

      - name: Run tests
        run: coverage run -m zope.testrunner --test-path=src --tests-pattern="^f?tests$"

      - name: Adjust OS-specific .coveragerc configuration (Linux)
        if: runner.os == 'Linux'
        run: |
          # drop the pragma: Linux so lines marked thus will be required
          sed -i -e '/pragma: Linux/d' .coveragerc

      - name: Check test coverage
        run: coverage report -m --fail-under=100

      - name: Report to coveralls
        run: coveralls
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_SERVICE_NAME: github

  lint:
    name: ${{ matrix.toxenv }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        toxenv:
          - flake8
          - isort
          - check-manifest
          - check-python-versions

    steps:
      - name: Git clone
        uses: actions/checkout@v4

      - name: Set up Python ${{ env.default_python || '3.12' }}
        uses: actions/setup-python@v5
        with:
          python-version: "${{ env.default_python || '3.12' }}"

      - name: Pip cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ matrix.toxenv }}-${{ hashFiles('tox.ini') }}
          restore-keys: |
            ${{ runner.os }}-pip-${{ matrix.toxenv }}-
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install -U setuptools wheel
          python -m pip install -U tox

      - name: Run ${{ matrix.toxenv }}
        run: python -m tox -e ${{ matrix.toxenv }}
